* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: aqua;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;


}
 


.search {
  width: 300px;
  height: 50px;
  background-color: #fbfdfe;
  border: none;
  box-shadow: none;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 15px;
  font-size: 20px;
  padding: 20px;
  left : 100px
 
}

h1 {
  margin: 20px;
}

h2 {
  display: block;
}

.checklist {
  display: inline;
  margin: 10px;
  padding: 20px;

}


.container {
  position: relative;
  top: 100px;
  margin: 20px;


}

/* For Mobile */
@media only screen and (max-width: 600px) 
{
  h1 {
    font-size: 20px;
  }

  .search {
    width: 150px;
  }
}

/* For Tablet */
@media only screen and (min-width: 600px) and (max-width : 768px)
{
  h1 {
    font-size: 24px;
  }

  .search {
    width: 250px;
  }
}